h1 {text-align:center;
}
h3{
    font-style: normal;
    font-style: x large;}
    div button.sl{text-align: center;

        border-radius: 20px;
        border-style: dashed;
        width: 350px;
        height: 350px;
        border: none;
        background-color:rgb(201, 179, 179)
        
    }
    div button.sl{text-align: center;
        margin-bottom: 2px;
        border-radius: 20px;
        border-style: dashed color black;
        width: 350px;
        height: 30px;
        border: none;
        background-color: rgb(201, 179, 179)
        
    }
    h3{
    div button.ot{text-align: center;}
    
    }
    
    div button.cl{
        text-align: center;
        border-radius: 20px;
        width: 350px;
        height: 30px;
        border: none;
        background-color: aqua;
    }
    
        
    
